
**/.vs/**
Debug/**
*.obj
*.tlog
PheonixEngine/x64/Debug/PhoenixEngine.vcxproj.FileListAbsolute.txt
*.idb
*.log
PhoenixSandbox/x64/Debug/PhoenixSandbox.vcxproj.FileListAbsolute.txt
*.pdb
x64/Debug/PhoenixEngine.lib
x64/Debug/PhoenixSandbox.exe
x64/Debug/PhoenixSandbox.exe - Shortcut.lnk
*.ilk
*.recipe
vendor/Vulkan/x64/shaderc_combinedd.lib
vendor/Vulkan/x64/SPIRV-Tools-optd.lib
vendor/Vulkan/x64/shaderc_combined.lib
